$bp_xxs_max:320px;

$bp_xs_min:321px;
$bp_xs_max:480px;

$bp_ms_min:481px;
$bp_ms_max:767px;

$bp_sm_min:768px;
$bp_sm_max:991px;

$bp_md_min:992px;
$bp_md_max:1199px;

$bp_lg_min:1200px;
$bp_lg_max:1679px;

$bp_xl_min:1680px;
$bp_xl_max:1919px;

$bp_xxl_min:1920px;
